[submodule "openwrt"]
	path = openwrt
	url = https://github.com/openwrt/openwrt.git
	branch = openwrt-24.10
[submodule "feeds/chirpstack-openwrt-feed"]
	path = feeds/chirpstack-openwrt-feed
	url = https://github.com/chirpstack/chirpstack-openwrt-feed.git
[submodule "feeds/modem-extras"]
	path = feeds/modem-extras
	url = https://github.com/4IceG/Modem-extras.git
[submodule "feeds/xmm-modem"]
	path = feeds/xmm-modem
	url = https://github.com/lrdrdn/my-opkg-repo.git
